<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>


{{!-- the below is being handled in profile.hb I believe --}}
{{!-- <div>
    <button type="button" id="editBtn" class="" post-edit-id="{{id}}">Edit Post</button>
    <button type="button" id="deleteBtn" class="" post-delete-id="{{id}}">Delete Post</button>
</div> --}}